<h1>StackIT</h1>
<% if current_user%>
  <%= render 'form' %>
<% end %>
<br>
<br>

<h2>Recent Questions</h2>
<div id="questions">
  <% @questions.each do |question| %>
    <div id="question">
      <h3><%= link_to question.ask, question_path(question) %></h3>
    </div>
  <% end %>
</div>
