<h1>StackIT</h1>

<h4>Welcome <%= @user.email %></h4>


<%= render 'form' %>

<ul>
  <% @questions.each do |question| %>
    <li><%= link_to question.ask, question_path(question) %></li>
  <% end %>
</ul>


<p><%= link_to "Profile Page", user_path(current_user)  %></p>
