<% @user.questions.each do |q|%>
  <ul>
    <li><%= q.ask %></li>
  </ul>
<% end %>

<% @user.responses.each do |r|%>
  <ul>
    <li>Question: <%= r.question.ask %></li>
    <li>Response: <%= r.answer %></li>
  </ul>
<% end %>
